 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 body{
   background:linear-gradient(rgba(180, 121, 121, 0.43),rgba(135, 135, 142, 0.54));
 }
  .navlinks{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    width: 1513px;
    background-color: #172937;
    border: 4px solid #172937;
}

.navlinks  #resume1{
   border: 1px solid #FF8153;
   border-radius: 5px;
}
.icon{
   background-color: white;
   height: 30px;
   width: 30px;
   border-radius: 50%;
}
a{
   color: white;
   text-decoration: none;
   font-size: 20px;
   
}
a:hover{
   text-decoration: underline;
    color: black;
}

.logo{
   background-color: #172937;
   color: white;
   width: 1513px;
   font-size: 20px;
   padding-left: 20px;
   padding-top: 10px;
   display: flex;
   gap: 10px;
}

.main-content{
  display: flex;
  width: 1513px;
  justify-content: center;
  background-color: #172937;
}
.content{
    padding-left: 71px;
    padding-top: 120px;
    width: 1513px;
    height: 55vh;
    font-size: 40px;
    color: aliceblue;
   
}

.main-content .images{
   width: 399px;
   background-color: white;
   height: 304px;
   border-radius: 50%;
   margin:55px 205px 55px 55px;
}

span{
   color: #FF8153;
}
#lorem{
   padding-top: 26px;
   padding-left: 4px;
   width: 562px;
   font-size: 25px;
   line-height: 100%;
   font-weight: 400;
   letter-spacing: 0%;
}
#image-logo{
   width:314px;
   height: 314px;
   padding-top: 184px;
  
}
.heading{
   text-align: center;
   padding-top: 30px;
   font-size: 40px;
   font-weight: 600;
}
.description{
   text-align: center;
   font-size: 28px;
   font-weight: 400;
   padding-top: 20px;
}
.skill-container{
   display: flex;
   justify-content: center;
}
.skill-container1{
    width:1000px;
    margin-top: 20px;
    height:200px;
    background-color:#f3f1f1;
    border: 2px solid red;
    border-radius: 10px;
}
.skill-list1{
     display: flex;
     gap: 20px;
     align-content:flex-start;
     justify-content: center;
     margin: 25px; 
     flex-wrap: wrap;
    
}
#ds-section{
   display: flex;
   gap: 6px;
   border: 2px solid #F37021;
   height: 35px;
   width: 120px;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
}
#ml-section{
   display: flex;
   gap: 6px;
   border: 2px solid #F37021;
   height: 35px;
   width: 150px;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
}
#html-section{
   display: flex;
   gap: 6px;
   border: 2px solid #F37021;
   height: 35px;
   width: 100px;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
}
#react-section{
   display: flex;
   gap: 6px;
   border: 2px solid #F37021;
   height: 35px;
   width: 100px;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
}
#nodejs-section{
   display: flex;
   gap: 6px;
   border: 2px solid #F37021;
   height: 35px;
   width: 110px;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
}
#mongodb{
   display: flex;
   gap: 6px;
   border: 2px solid #F37021;
   height: 35px;
   width: 120px;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
}
#javascript{
   display: flex;
   gap: 6px;
   border: 2px solid #F37021;
   height: 35px;
   width: 120px;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
}
.fa-js{
   color: #F37021;
   font-size: 20px;
}
.fa-node{
   font-size: 20px;
}
.fa-react{
   font-size: 20px;
   color: green;
}
.fa-html5{
   font-size: 20px;
   color: blueviolet;
}
.fa-css3-alt{
   font-size: 22px;
}
.fa-database{
   font-size: 18px;
}
.skills{
   font-family:'Times New Roman', Times, serif;
   
}

.para{
   height: 60px;
   padding-left: 18px;
   width: 180px;
   background-color: #F37021;
   display: flex;
   align-items: center;
   font-size: 20px;
   margin-top: 50px;
   color: azure;
   border-radius: 10px;
}
.progress-header{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.box-video
{
    width: 100%;
   height:333px;
   display: flex;
   margin-top: 90px;
   background-color: rgba(245, 222, 179, 0.184);
   justify-content: space-evenly;
   
}
.big
{
    width: 350px;
    height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
  
    background-color: #c4c4c4;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 60, 16);
    font-size: 20px;
}
.small{
   height: 123px;
    width: 350px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
}
.small span{
   font-size: 34px;
}
.small p{
    color: #544343;
    font-size: 25px;
    font-weight: 600;
}
.video-content1{
   color: black;
}

.project-heading{
   margin-top: 25px;
}
.project-lists{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 10px;
}
.project-container{
   width: 20%;
   height: 380px;
   background-color: white;
   margin: 40px;
   border-radius: 10px;
   box-shadow: 2px 2px 7px black;
}
.image img{
   width: 100%;
   border-top-right-radius: 10px; 
   border-top-left-radius: 10px; 
}

.project-name h1{
   padding-left: 10px;
   padding-top: 5px;
   color: rgb(160, 117, 38);
}
.project-description p{
   padding-left: 10px;
   padding-top: 10px;
   font-size: 17px;
}
.project-description h3{
   padding-left: 10px;
   padding-top: 10px;
  
} 
.grid-container{
   height: 278px;
   width: 870px;
   display: grid;
   margin-left: 350px;
   padding-top: 46px;
   padding-left: 75px;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
   border: 2px;
  
}
.grid-item1{
   background-color: whitesmoke;
   padding: 15px;
   border-radius: 10px;
   width: 313px;
   height: 100px;
}
.grid-item2{
   background-color: whitesmoke;
   padding: 15px;
   border-radius: 10px;
   width: 313px;
   height: 100px;
}
.grid-item3{
   background-color: whitesmoke;
   padding: 15px;
   border-radius: 10px;
   width: 313px;
   height: 100px;
}
.grid-item4{
   background-color: whitesmoke;
   padding: 15px;
   border-radius: 10px;
   width: 313px;
   height: 100px;
}

.contact-info{
   width: 100%;
   height: 245px;
   background-color: #172937;
   margin-top: 30px;
   box-sizing: border-box;
}

.description1{
   text-align: center;
   font-size: 28px;
   font-weight: 400;
   padding-top: 20px;
   color: white;
}
.container5{
   height: 60px;
   width: 100%;
  display: flex;
  justify-content: center;
  
}
.contact-detail{
  border: 1px solid orangered;
  margin: 10px;
}
#github{
   width: 130px;
   border-radius: 20px;
   font-size: larger;
   font-weight: 700;
   color:whitesmoke;
   height: 40px;
   display: flex;
   gap: 5px;
   justify-content: center;
   align-items: center;

   
}
#email{
    width: 380px;
    height: 40px;
    justify-content: center;
   align-items: center;
   gap: 5px;
   border-radius: 20px;
    display: flex;
    font-size: larger;
   font-weight: 600;
   color:white;
}
#linkedin{
    width: 130px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: larger;
   font-weight: 700;
   color:whitesmoke;
} 
.fa-github{
    color:  #F37021;
    font-size: 28px;
}
.fa-envelope{
  color: #F37021;
  font-size: 28px;
}
.fa-linkedin{
  color:  #F37021;
  font-size: 28px;
}
